tbdiff-create/tbdiff-create
tbdiff-deploy/tbdiff-deploy
*.o
*.log
*.d
*.la
*.lo
*.pc
.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
sockbind
stamp-h1
symtime
test-driver
